body {
    display: grid;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#prompt{
    width:60vw
}

#prompt::placeholder {
  font-weight: normal;
  font-style:italic;
  opacity: 0.8;
}

.logo {
    border-radius: 80px;
    margin:10px;
    width:80px;
    height:80px;
    box-shadow: 1px 1px 5px 2px #ffc107;
}

/* Navigation bar styling */

.navbar{
  padding:0;
  background-color:#FFC107;
  box-shadow: 1px 0px 5px 2px #544258;
}

.navbar-brand {
    margin:auto;
    font-style: normal;
    font-weight: bolder;
    color: white;
    font-size: 40px;
}

/* Search container */


.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

/* loader container */

#loader-container {
    margin:auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

/* results container */

#results-container {
    margin:auto;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

#result-image{
  width:300px;
  height:300px;
  object-fit:cover;
  margin: 20px;
  border-radius: 200px;
}
